/*********************************** GLOBALS ********************************/


html, body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    width:100%;
    height: 100%;
}

a:visited, a:hover, a:link, a:active {
    text-decoration: none;
    color: #FFF3E5;
}

/*********************************** NAVBAR ********************************/

.nav-container {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #765837;
    z-index: 1;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.nav-container i {
    position: fixed;
    font-size: 40px;
    padding: 8px;
    color: #FFF3E5;
}

.nav-bar li {
    display: inline;
    flex-direction: column;
    padding-right: 70px;
    font-size: 20px;
    list-style: none;
    color: #FFF3E5;
}

.nav-bar a {
    text-decoration: none;
}

/************************ SECTION IN DEVELOPMENT ******************************/

/************** FIXED FULL PAGE BOOKING FORM INPUT VISIBLE ON CLICK ***********/
/*
.form-container{
    visibility: visible;
}
.form-container {
    position: fixed;
    top: 10%;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.form-container section {
    position: absolute;
    height: 80%;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    text-align: center;
    border: solid black 2px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.8);
}

.form-container p{
    color: white;
}

#close-btn {
    position: relative;
    text-align: right;
    margin-right: 30px;
    font-size: 26px;
    cursor: pointer;
}
*/
/********************* HAMBURGER MENU ACTIVE BELOW 500PX WIDTH ****************/

.hamburger-menu {
    display: none;
    float: right;
    width: 130px;
    height: 200px;
}

.hamburger-menu-background {
    display: none;
    position: absolute;
    float: right;
    width: 130px;
    height: 200px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 0px 20px;
}

.hamburger-menu i {
    display: none;
    position: absolute;
    right: 0px;
}

.hamburger-menu li {
    display: none;
    position: relative;
    float: right;
    right: 10px;
    top: 30px;
    font-size: 17px;
    list-style: none;
    color: white;
    padding-bottom: 10px;
}


/************************************** HOME ***********************************/

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    color: #373737;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    color: #373737;
}

button {
    width: 120px;
    height: 50px;
    border: solid black 1px;
    border-radius: 2px;
    color: #FFF3E5;
    background-color: #825E37;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

button:hover{
    font-weight: 600;
    font-size: 20px;
    color: #FFF3E5;
    background-color: #45290B;
    cursor: pointer;
}

.home-container {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 100%;
    height: 1000px;
    background-image: url("../imgs/jumbotron.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-header, .button-container {
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
}

.jumbotron-header {
    margin-top:5%;
}

/*********************************** BENEFITS SECTION ********************************/

.benefits-container {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-image: url("../imgs/massage-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    border-bottom: solid 2px black;
}

.benefits-header {
    margin-left: 5%;
}


.benefits-content {
    margin-left: 5%;
    width: 50%;
    color: white;
    
}

.info-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: #3D2D1D;
    border-radius: 5px;
    border-top-right-radius: 40px;
    padding: 0px 20px;
}

.benefits-content h3 {
    width: 300px;
    height: 25px;
    text-align: left;
    position: relative;
    bottom: 6px;
}

.benefits-container i {
    font-size: 38px;
    padding: 8px 0px;
    cursor: pointer;
}


.benefits-content p {
    line-height: 30px;
    padding: 10px;
    margin-top: 0px;
    color: black;
}

.info-tab {
    background-image: linear-gradient(to right, #C5A583, white);
    opacity: 0.95;
    border-radius: 5px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-bottom: 20px;
}

.drop-down {
    display: none;
}

.tab-title {
    width: 40%;
}

.rotate {
     transform: rotate(90deg);
}


/*********************************** OFFERS SECTION ********************************/

.offers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/pebbles.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #765837;
    color: white;
    padding: 30px 0px;
}

.offers-container h2 {
    color: white;
    background-color: rgba(118,88,55,0.8);
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    padding: 4px 50px;
}

.offers-main-table{
    width: 90%;
    max-width: 800px;
    height: auto;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 5px;
    margin: 10px;
    color: #765837;
    background-color: white;
    box-shadow: 5px 5px 10px black;
}

.offers-table-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    font-size: 24px;
    padding-left: 20px;
}

.offers-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-style: double;
    border-color: black;
}

.offers-container p{
    height: 20px;
    font-size: 14px;
}

.offers-container li{
    font-size: 12px;
    list-style-type: disc;
    color: black;
}

.offers-table img {
    width: 300px;
    height: auto;
    border-radius: 30px;
    padding: 20px
}

.offers-table-info{
    display: flex;
    flex-direction: column;
    width:100%;
    border-left: solid grey 1px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

.offers-detail {
   height: auto;
}

.offers-detail li {
    line-height: 200%;
}

.offers-detail a {
    color: black;
    text-decoration: underline;
}
.offers-detail a:hover {
    cursor: pointer;
}

.offers-price {
    height: 75px;
    text-align: center;
    font-family: sans-serif;
    font-size: 28px;
}

.offers-button {
    text-align: center;
}

/*********************************** TESTAMONIALS SECTION ********************************/

.testamonials-background {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: auto;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/candle1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #765837;
    color: white;
    padding: 50px 0px 30px 0px;
}

.testamonials-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testamonials-background h2 {
    font-family: 'Dancing Script', cursive;
    color: white;
}


.testamonials-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    height: auto;
    font-size: 20px;
    color: black;
    background-color: grey;
    border-radius: 3px;
    margin-right: 10%;
}

.testamonials-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 95%;
    margin: 10px;
    border-radius: 10px;
}

.testamonials-name-right, .testamonials-name-left {
    display: flex;
    flex-direction: row;
    height: auto;
}

.testamonials-name-right {
    justify-content: flex-end;

}

.testamonials-name-left {
    justify-content: flex-start;
}

.testamonials-quote {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

.testamonials-quote h5 {
    font-size: 20px;
}

.testamonials-container p{
    padding: 5px;
}

.box-right, .box-left {
    background-color: whitesmoke;
    width:20px;
    height:20px;
    transform:rotate(45deg)    
}

.box-right {
    position: relative;
    float: right;
    right: 20px;
    top: 5px;
}

.box-left {
    position: relative;
    float: left;
    left: 20px;
    top: 5px;
}


/*********************************** ABOUT ME SECTION ********************************/

.about-me-container {
    display:flex;
    flex-direction: column;
    width:100%;
    height: auto;
    background-image: url("../imgs/essential-oils.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 30px 0px;
}

.about-me-container h2{
    text-align: center;
}

.about-me-content {
    background-color: white;
    width: 45%;
    line-height: 1.75;
    opacity:0.8;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 0px 70px 50px;
    box-shadow: 10px 10px 10px black;
}

.about-me-container img {
    width: 150px;
    height: auto;
    border-radius: 200px;
    border: solid black 1px;
    float: left;
    margin: 20px;
}

.about-me-container h4{
    font-size: 30px;
    padding: 10px 10px 30px 200px;
}

.about-me-container i{
    font-size: 20px;
    position: relative;
    bottom: 10px;
}
/*********************************** CONTACT SECTION ********************************/

.contact-container {
    width: 100%;
    height: auto;
    color: #FFF3E5;
    background-color: #9E7D59;
}

.skewed-box {
    background-color: #9E7D59;
    width: 100%;
    height: 140px;
    transform-origin: top left;
    transform: skewY(-4deg);
    border-top: solid black 0.05px;
}

.contact-container h4 {
    position: relative;
    bottom: 170px;
    font-size: 40px;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 140px;
}

.contact-content h3{
    font-size: 25px;
}

.signup-form {
    text-align: left;
    padding: 10px;
}

.signup-form button {
    position: relative;
    top: 4px;
    margin-left: 10px;
}

.signup-form input {
    height: 45px;
    width: 280px;
    border-radius: 2px;
    text-indent: 10px;
}

.contact-icons {
    background-color: #9E7D59;
    width: 100%;
    height: auto;
    text-align: center;
}

.contact-container i {
    position: relative;
    font-size: 70px;
    padding: 20px 50px 0px 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



/*********************************** FOOTER SECTION ********************************/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: #9E7D59;
    text-align: center;
    color: #FFF3E5;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.copyright h4 {
    padding: 0px 40px 0px 5px;
    font-size: 15px;
}

/******************************* MEDIA QUERY WIDTH 1400px ***************************/

@media only screen and (max-width: 1400px) {
    
    .about-me-content {
        width: 70%;
    }
    .skewed-box {
        height: 120px;
    }
    
}

/******************************* MEDIA QUERY WIDTH 1024px ***************************/

@media only screen and (max-width: 1024px) {

    .nav-bar li {
        padding-right: 40px;
        font-size: 18px;
    }
    h1 {
        font-size: 70px;

    }
    h2 {
        font-size: 40px;
    }
    
    .offers-container img {
        width: 200px;
    }
    
    .testamonials-container{
        width: 90%;
        margin-right: 5%;
    }
    .testamonials-title h2 {
        font-size: 50px;
    }
    .testamonials-container h5 {
        font-size: 20px;
    }
    .testamonials-container p {
        font-size: 15px;
    }
    
    .about-me-content {
        width: 90%;
        line-height: 1.75;
        margin-left: 1.5%;
        font-size: 14px;
    }
    .about-me-container h4{
        font-size: 18px;
    }
    .about-me-container i{
        font-size: 12px;
    }
    
    .skewed-box {
        height: 100px;
    }
    
    .footer h4 {
        font-size: 14px;
    }
    
}

/******************************* MEDIA QUERY WIDTH 784px ***************************/

@media only screen and (max-width: 784px) {
    
    .nav-container {
        height: 40px;
    }
    .nav-bar li {
        padding-right: 26px;
        font-size: 16px;
    }
    .nav-container i {
        font-size: 30px;
        padding: 4px;
    }
    
    .benefits-content {
        width:90%;
    }
    .benefits-content p {
        font-size: 13px;
    }
       
    .offers-table-header {
        font-size: 20px;
    }
    
    .offers-container img {
        width: 180px;
    }
    .offers-container p{
        height: 10px;
        font-size: 12px;
    }
    .offers-container li{
        font-size: 12px;
        line-height: 1.6;
    }
    
    .signup-form {
        text-align: center;
        padding: 10px;
    }
    
    .contact-container i {
        padding: 50px 25px 0px 25px;
    }
    
    .contact-content {
        flex-direction: column;
    }
    
    .skewed-box {
        height: 100px;
    }
    
    .contact-container h4 {
        bottom: 120px;
    }
    
    .signup-form h3 {
        font-size: 22px;
    }
    .signup-form p {
        font-size: 16px;
    }
    .contact-container i {
        font-size: 60px;
    }
    .contact-icons {
        height: 550px;
    }
    
    
   
}

/******************************* MEDIA QUERY WIDTH 560px ***************************/

@media only screen and (max-width: 560px) {
    
    .nav-bar li {
        font-size: 14px;
    }
    
    h2 {
        font-size: 30px;
    }
    button {
        width: 100px;
        height: 40px;
        font-size: 18px;
    }
    
    .benefits-content h3 {
        font-size: 18px;
    }
        
    .offers-container img {
        position: relative;
        top: 80px;
        width: 130px;
        padding: 3px;
    }
    .offers-main-table {
        width: 98%;
    }
    
    .testamonials-title h2 {
        font-size: 40px;
    }
    .testamonials-container h5, .testamonials-container h4 {
        font-size: 15px;
    }
    .testamonials-container p {
        font-size: 12px;
    }
    
    .about-me-content {
        font-size: 12px;
    }
    .about-me-container h4{
        font-size: 16px;
    }
    .about-me-container i{
        font-size: 10px;
    }
    
    .contact-container h4 {
        font-size: 30px;
        bottom: 90px;
    }
    .signup-form h3 {
        font-size: 18px;
    }
    .signup-form p {
        font-size: 12px;
    }
    .signup-form input {
        height: 35px;
    }
    
    .skewed-box {
        height: 40px;
    }
    .contact-content {
        flex-direction: column;
        padding-top: 40px;
    }
    
    .contact-container i {
        font-size: 50px;
    }
    
    .contact-container i {
        padding: 30px 25px 0px 25px;
    }
    .contact-icons {
        height: 380px;
    }
    
    .footer h4 {
        font-size: 12px;
    }
        
}

/******************************* MEDIA QUERY WIDTH 500px ***************************/

@media only screen and (max-width: 500px) {
    
    .nav-bar {
        display:none;
    }
    
    .hamburger-menu, #menu-icon {
        display: block;
    }
    
    .home-container {
        height: 500px;
    }

    h1 {
        font-size: 50px;

    }
    .jumbotron-header, .button-container {
        margin-left: 20%;
        margin-right: 40%;
    }

    .jumbotron-header {
        margin-top: 20%;
    }
    
    .benefits-content h3 {
        width: 220px;
        font-size: 14px;
    }
    
    .offers-container h2 {
        padding: 5px;
    }
    
    .offers-detail{
        line-height: 0px;
    }
    .offers-detail li{
        position: relative;
        width: 100%;
        line-height: 1.5;
    }
    .offers-price {
        position: relative;
        top: 20px;
        font-size: 20px;
    }
    .offers-table img {
        width: 100px;
    }
    
    .about-me-content {
        width: 85%;
        line-height: 1.75;
        margin-left: 1.5%;
        font-size: 12px;
    }
    .about-me-container img {
        width: 80px;
    }
    .about-me-container h4 {
        padding: 0px;
    }
    .about-me-pic {
        width: 100%;
        height: auto;
    }
    .about-me-quote {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .contact-container h4 {
        bottom: 70px;
    }
    .signup-form h3 {
        font-size: 18px;
    }
    .signup-form p {
        font-size: 12px;
    }
    .signup-form input {
        height: 30px;
    }
    .skewed-box {
        height: 40px;
    }
    .contact-content {
        flex-direction: column;
        padding-top: 40px;
    }
    .contact-container i {
        font-size: 40px;
    }
    
    .contact-container i {
        padding: 10px 25px 10px 25px;
    }
    .contact-icons {
        height: 380px;
    }
    
    .copyright {
        font-size: 18px;
    }

    .copyright h4 {
        padding: 0px 10px 0px 5px;
        font-size: 12px;
    }
}